# App Configuration
NODE_ENV=development
PORT=3000
HOST=0.0.0.0
ALLOWED_ORIGINS=http://localhost:4200
FRONTEND_URL=http://localhost:4200
FX_RATE_API_URL=https://api.frankfurter.dev/v2/rate
EMAIL_FROM=noreply@realtime-wallet-payments.com

# jwt configs
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_EXPIRES_IN=7d
JWT_ISSUER=realtime-wallet-payments
JWT_AUDIENCE=realtime-wallet-payments-users

# Redis Cache Cluster
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_HOST=localhost

# Database (PostgreSQL) Configuration
DB_HOST=127.0.0.1
DB_PORT=54320
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=distributed_db
DB_NAME=distributed_db
DB_SSL=false
DB_CONNECTION_LIMIT=10
DB_MIN_LIMIT=2
DB_CONNECTION_TIMEOUT=5000
DB_ACQUIRE_TIMEOUT=5000
DB_PRIMARY_POOL_MAX=20
DB_REPLICA_POOL_MAX=10
APP_INSTANCE_COUNT=1
DATABASE_URL=postgresql://postgres:password@127.0.0.1:54320/distributed_db

# RabbitMQ
RABBITMQ_DEFAULT_USER=ddd_user
RABBITMQ_DEFAULT_PASS=ddd_pass
RABBITMQ_ERLANG_COOKIE=DDD_SHARED_SECRET_COOKIE
RABBITMQ_DEFAULT_HOST=localhost

# Distributed Kafka Streaming
KAFKA_BROKER_HOST='127.0.0.1'
KAFKA_BROKER_PORT=9092
KAFKA_CLUSTER_ID=4L62IdYtQG65uzmF2u476g
KAFKA_CONSUMER_GROUP_ID=core-api-consumer-group
# Or use multiple brokers (comma-separated):
# KAFKA_BROKERS=localhost:9092,localhost:9093,localhost:9094

# Storage (MinIO Local / AWS S3)
STORAGE_STRATEGY=s3
STORAGE_ENDPOINT=http://127.0.0.1:9000
STORAGE_PUBLIC_ENDPOINT=http://127.0.0.1:9000
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_BUCKET_NAME=realtime-wallet-payments
STORAGE_REGION=us-east-1
STORAGE_FORCE_PATH_STYLE=true
STORAGE_ENSURE_BUCKET=true

# STORAGE_STRATEGY=s3
# STORAGE_ENDPOINT=
# STORAGE_PUBLIC_ENDPOINT=
# STORAGE_ACCESS_KEY=
# STORAGE_SECRET_KEY=
# STORAGE_BUCKET_NAME=realtime-wallet-payments
# STORAGE_REGION=us-east-1
# STORAGE_FORCE_PATH_STYLE=false
# STORAGE_ENSURE_BUCKET=false
